body{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #333;
}
a {
    cursor: pointer;
}
.pagination {
    display: flex;
    list-style: none;
    margin-top: .5rem;
    margin-right: .5rem;
}
.styled-select select {
   font-size: 14px;
   margin-bottom: 10%;
   padding: 6px 12px;
   line-height: 1.42857143;
   border-radius: 9px 9px 9px 9px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
   color: #777;
   cursor: not-allowed;
   background-color: #fff;
   border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
   position: relative;
   float: left;
   padding: 6px 12px;
   line-height: 1.42857143;
   color: #337ab7;
   text-decoration: none;
   background-color: #fff;
   font-weight:bold;
   text-transform:uppercase;
}
.emp_table {
   border-collapse: collapse;
   padding: 2px 4px;
   width:100%;
}
.emp_table th, .emp_table td {
   text-align: left;
   padding: 10px;
}
.emp_table>tbody>tr:nth-child(odd)>td, .emp_table>tbody>tr:nth-child(odd)>th {
   background-color: #f9f9f9;
}
.emp_table thead {
   font-weight:bold;
   text-transform:uppercase;
   background-color: #DDEFEF;
   color: #336B6B;
   padding: 10px;
}
.emp_table tbody td {
   border: solid 1px #DDEEEE;
   color: #333;
   padding: 10px;
}
