<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Capco Employee(s) 2018 Records
  </h1>
</div>
<body>
  <div style="overflow-x: auto; height: 450px;">
    <table *ngIf="arrEmployees" class="emp_table">
      <!-- ADD HEADERS -->
      <thead>
        <tr>
          <td>Name</td>
          <td>Phone</td>
          <td>Email</td>
          <td>Company</td>
          <td>Date Entry</td>
          <td>Org Num</td>
          <td>Address</td>
          <td>City</td>
          <td>Zip</td>
          <td>Geo</td>
          <td>Pan</td>
          <td>Pin</td>
          <td>Id</td>
          <td>Status</td>
          <td>Fee</td>
          <td>Guid</td>
          <td>Date Exit</td>
          <td>Date First</td>
          <td>Date Recent</td>
          <td>Url</td>
        </tr>
      </thead>
      <!-- BIND EMPLOYEES DATA TO TABLE -->
      <tbody>
        <tr *ngFor="let employee of pagedItems">
          <td>{{employee.name}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.company}}</td>
          <td>{{employee.date_entry}}</td>
          <td>{{employee.org_num}}</td>
          <td>{{employee.address}}</td>
          <td>{{employee.city}}</td>
          <td>{{employee.zip}}</td>
          <td>{{employee.geo}}</td>
          <td>{{employee.pan}}</td>
          <td>{{employee.pin}}</td>
          <td>{{employee.id}}</td>
          <td>{{employee.status}}</td>
          <td>{{employee.fee}}</td>
          <td>{{employee.guid}}</td>
          <td>{{employee.date_exit}}</td>
          <td>{{employee.date_first}}</td>
          <td>{{employee.date_recent}}</td>
          <td>{{employee.url}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
      <!-- Pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <div class="styled-select"> 
              <select [(ngModel)]='pageOptionSelected' (ngModelChange)='onOptionSelected($event, pager.currentPage)'>
                <option *ngFor="let option of options;" [ngValue]="option">{{option}}</option>
              </select>
          </div>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
      </ul>
  </div>
</body>
<router-outlet></router-outlet>
